* {
  box-sizing: border-box;
}

div,
section,
header {
  border: 3px solid black;
}

body {
  font-family: Georgia, "Diner", Times, serif;
  background-color: cornsilk;
  color: saddlebrown;
  max-width: 2000px;
  height: 1000px;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr 2fr 1fr;
}

header {
  font-family: Georgia, "Diner", Times, serif;
  grid-column: 1/4;
}

#logo {
  display: flex;
  align-items: center;
  width: 250px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  z-index: 2;
}
#logo img {
  width: 300px;
}

h1 {
  font-size: 5rem;
  color: rosybrown;
  line-height: 0.8;
  margin: 3rem 0 1rem;
}

#imgs {
  background-color: rgba(211, 187, 176, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4;
}

section img {
  width: 500px;
  max-height: 26rem;
  border: 5px solid transparent;
}

section img:hover {
  border: 5px solid rosybrown;
}

section + div.clicks-allowed {
  background-color: rosybrown;
  color: white;
  cursor: pointer;
  font-size: 90px;
}

section + div.clicks-allowed:hover {
  background-color: rgb(211, 187, 175);
}

.clicks-allowed {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
}

.chart {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 4;
}
